NAME=order-saga-service
ENV=local
LOG_LEVEL=info
GRPC_HOST=0.0.0.0
GRPC_PORT=9507
KAFKA_BROKERS=127.0.0.1:9092
KAFKA_ORDER_SAGA_GROUP_ID=order-saga-service
SCYLLA_HOSTS=127.0.0.1
SCYLLA_PORT=9044
SCYLLA_USERNAME=admin
SCYLLA_PASSWORD=admin
GIG_SERVICE_ADDRESS=127.0.0.1:9503
ORDER_SERVICE_ADDRESS=127.0.0.1:9505
PAYMENT_SERVICE_ADDRESS=127.0.0.1:9506
FILE_SERVICE_ADDRESS=127.0.0.1:9504
METRICS_PORT=9607
